
<h2>Nieuw spel</h2>

<p>Vul hieronder je naam in en het spel gaat beginnen.</p>

<form action="/game/new-game" method="post">
	<input placeholder="Je naam" name="name" required>
	<button>Start spel</button>
</form>